/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5c469c;
  --ifm-color-primary-dark: #533f8c;
  --ifm-color-primary-darker: #4e3c85;
  --ifm-color-primary-darkest: #40316d;
  --ifm-color-primary-light: #654dac;
  --ifm-color-primary-lighter: #6b52b2;
  --ifm-color-primary-lightest: #7f6abc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #8b57bc;
  --ifm-color-primary-dark: #7d47b1;
  --ifm-color-primary-darker: #7643a7;
  --ifm-color-primary-darkest: #61378a;
  --ifm-color-primary-light: #996bc4;
  --ifm-color-primary-lighter: #9f74c8;
  --ifm-color-primary-lightest: #b492d4;
  --ifm-background-surface-color: #212121;
  --ifm-background-color: #1e1e1e;
}

.footer--dark {
  --ifm-footer-background-color: #1e1e1e;
}

.navbar__title, .hero__title {
  font-family: Roboto, sans-serif;
}

.hero__title {
  font-size: 2rem;
}

.hero__subtitle {
  font-size: 1rem;
}
